<div class="container mt-5">
  <!-- Message de chargement -->
  <div *ngIf="loading" class="d-flex justify-content-center my-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>

  <!-- Message d'erreur -->
  <div *ngIf="error" class="alert alert-warning">
    {{ error }}
  </div>

  <!-- Calendrier -->
  <div *ngIf="!loading" class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
